apache/
media/
static/
*.pyc
.project
.pydevproject
.settings/
.gitignore
EnvSocialApp/bin/
EnvSocialApp/project.properties
c2dm_requests.log
.metadata/
libs/
.classpath
settings.py
urls.py
envsocial.sql
order_item_rank_refresh_cron.py
